
h1 {
    color: rgb(13, 104, 104);
    
}

.header{
    background-color: rgb(66, 142, 204);
    display:flex ;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.socialMediaHandles{
    display:flex;
    justify-content: center;
}

p,h2{
    text-align: center;
}
